.section-cursos {
    max-width: 95vw;
    overflow-x: auto;
    border: 2px solid saddlebrown;
}
.curso .img-curso img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
/* .div-cursos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 2.5em;
}
.curso {
    min-width: 300px;
    height: auto;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem;
    border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(
        152deg,
        rgba(var(--main-cor), 0.25) 40%,
        rgba(var(--tert-cor), 0.25) 100%
    );
}
.curso .img-curso img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.curso .info-curso {
    padding: 10px 5px;
} */
