@media screen and (max-width: 768px) {
    .navbar {
        padding: 0.5em 1em !important;
        gap: 0.75em !important;
    }
    .navbar .nav-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav .nav-item {
        display: none !important;
    }
    .navbar-nav .nav-item-offcanvas {
        display: block !important;
    }
}
@media screen and (min-width: 768px) {
    .btn-offcanvas {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    .navbar-nav .nav-item-control:nth-child(n + 4) {
        display: none;
    }
    .navbar-nav .nav-item-control a {
        font-size: 11pt;
    }
}

.navbar {
    margin: 0;
    padding: 0 2.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: rgb(var(--main-c));
}
.navbar .nav-item,
.navbar .nav-item a {
    color: rgb(var(--light-c));
    text-decoration: none;
    transition: 0.2s;
}

.navbar .nav-item a:hover,
.navbar .nav-item a:active,
.navbar .nav-item a:focus,
.navbar .nav-item a:focus-visible {
    text-shadow: 0 0 5px rgba(var(--light-c), 0.5);
}

.navbar .logo-link {
    text-decoration: none;
}

.navbar .logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1px;
}

.navbar .logo-div span {
    text-decoration: none;
    font-size: 13pt;
}

.navbar .logo-div img {
    width: auto;
    height: 2.5em;
    filter: brightness(1);
}

.navbar .logo-div img:hover {
    filter: brightness(0.92);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1.5rem;
}

.nav-container .navbar-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.9rem;
    margin: 0;
}

.navbar .nav-brand {
    text-decoration: none;
    color: rgb(var(--sec-c));
}

.navbar .nav-brand .brand {
    width: 75px;
    height: auto;
}

.textDec,
.navbar .logo-div {
    color: rgb(var(--sec-c));
    text-shadow: 0px 0px 0.25px rgb(var(--sec-c));
    font-size: larger;
    font-weight: bold;
}
.navbar-nav .nav-item-control {
    transition: 0.15s;
}
.navbar-nav .nav-item-control a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 80px;
    padding: 1.5rem 0.25rem;
    cursor: pointer;
    font-size: 12pt;
}
.navbar-nav .nav-item-control i {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item-control:hover,
.navbar-nav .nav-item-control:active,
.navbar-nav .nav-item-control:focus,
.navbar-nav .nav-item-control:focus-visible {
    color: rgb(var(--quat-c));
    text-shadow: 1px 1px 1px rgba(var(--main-c), 0.75);
    background-color: rgba(var(--sec-c), 0.25);
}

.navbar-nav .nav-item .form-search {
    min-width: 50px;
    width: 30vw;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-item .form-search .form-control {
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 0.9;
}
.navbar-nav .nav-item .form-search .form-control,
.navbar-nav .nav-item .form-search button[type="submit"] {
    background-color: rgb(var(--light-c));
    border: none;
}

.navbar-nav .nav-item .form-search .form-control:active,
.navbar-nav .nav-item .form-search .form-control:focus,
.navbar-nav .nav-item .form-search .form-control:focus-visible,
.navbar-nav .nav-item .form-search .form-control:hover {
    box-shadow: 0 0 1px #f0f0f0;
}
.navbar-nav .nav-item .form-search .form-control::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.navbar-nav .nav-item .form-search button[type="submit"] {
    min-width: 40px;
    flex: 0.1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.offcanvas {
    --bs-offcanvas-bg: rgb(var(--main-c));
    --bs-offcanvas-color: rgb(var(--light-c));
    box-shadow: 1px 0 2.5px rgba(var(--light-c), 0.15);
}

.offcanvas-body {
    padding: 0;
}

.offcanvas-body::-webkit-scrollbar {
    border-radius: 15px;
    width: 7.5px;
    background: transparent;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background: rgba(var(--sec-c), 0.2);
}

.offcanvas-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offcanvas-btn-close {
    background: transparent;
    color: rgb(var(--light-c));
    border: none;
    border-radius: 5px;
    font-size: 20pt;
    padding: 0 5px;
}

.offcanvas-btn-close:active,
.offcanvas-btn-close:hover,
.offcanvas-btn-close:focus,
.offcanvas-btn-close:focus-visible {
    box-shadow: 0 0 2px rgba(var(--light-c), 0.5);
}

.offcanvas-item {
    width: 100%;
    min-height: 50px;
    padding: 1rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.offcanvas-item:hover {
    background-color: rgba(var(--tert-c), 0.2);
}
